@import "../index.less";
// AR Scene
#my-canvas {
    display: inline-flex;
    justify-content: center;
    width: 100%;

    #intro-dialogue {

        z-index: 999999999999;
        display: none;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    // The animation in AR scene
    #myAnimation {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -160px;
        margin-top: -160px;

        z-index: 9999999999999;

        background-image: url('../assets/mrclock.png');
        background-position: 50% 50%;
        /* Sets reference point to scale from */
        background-size: cover;

        display: none;
        animation-name: appear;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 0.1;
        }

        20% {
            opacity: 0.2;
        }

        30% {
            opacity: 0.3;
        }

        40% {
            opacity: 0.4;
        }

        50% {
            opacity: 0.5;
        }

        60% {
            opacity: 0.6;
        }

        70% {
            opacity: 0.7;
        }

        80% {
            opacity: 0.8;
        }

        90% {
            opacity: 0.9;
        }

        100% {
            opacity: 1;
        }
    }
}