@import "../index.less";

// VR Scene
#VRScene {
    z-index: 1;
    padding: 24px;
    position: relative;
}


// For Dialogue/Info display
#overlay-container {
    position: absolute;
    z-index: 999999999999;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

// Blur background when info display
.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    backdrop-filter: blur(1.5px);
}

#info-panel {
    width: calc(100% - 96px);
    height: calc(100vh - 96px);
    margin: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        height: 100%;
        width: 100%;
        z-index: 1000;

        .each-pane {
            position: relative;
            transition: transform 1s;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }

            // <a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Kiranshastry - Flaticon</a>
            .magnify-icon {
                position: absolute;
                top: 28px;
                right: 28px;
                width: 28px;
                height: 28px;
                background: white;
                border: 1px solid @secondary1;
                border-radius: 50%;
                padding: 12px;
            }

            .panel-frame {
                // Design from https://codepen.io/john_skowronski/pen/Egqqjy
                box-shadow: 4px 6px 12px 0 black;
                border-width: 5px;
                border-style: solid;
                border-color: rgb(109, 84, 58) rgb(24, 19, 13) rgb(24, 19, 13) rgb(109, 84, 58);

                margin: 4px;

                .outer-box {
                    border: 12px solid rgb(65, 40, 16);

                    .inner-box {
                        border-width: 5px;
                        border-style: solid;
                        border-color: rgb(24, 19, 13) rgb(109, 84, 58) rgb(109, 84, 58) rgb(24, 19, 13);

                        img {
                            display: block;
                            clear: both;
                            padding: 12px;
                            background-color: rgb(255, 249, 224);
                            border-width: 3px;
                            border-style: solid;
                            border-color: rgb(207, 166, 0) rgb(207, 166, 0) rgb(145, 110, 0) rgb(145, 110, 0);
                            width: calc(100% - 30px);
                            max-width: 400px;
                            max-height: 400px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }

    // <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by Handicon - Flaticon</a>
    #continue-bttn {
        position: relative;
        z-index: 12;

        background-color: @secondary3;
        border: 2px solid @secondary2;

        border-radius: 8px;
        transition: transform 1s;

        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        align-self: flex-end;

        width: 240px;
        height: 64px;

        p {
            color: black;
            font-size: 16px;
        }

        img {
            width: 24px;
            height: 24px;
        }

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }


}

/* Info Container SINGLE */
#info-frame {
    position: absolute;

    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);


    width: 500px;
    height: auto;
    z-index: 10;
}

#object-info-container {
    position: relative;
    background-color: #F8F4E3;
    width: 390px;
    height: 494px;
    border-radius: 4px;

    position: absolute;

    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: scroll;
    z-index: 2000;

    h2 {
        margin: 0;
        padding: 0;
    }

    #mute-bttn {
        background: none;
        border: none;
        position: absolute;
        top: 8px;
        right: 8px;

        img {
            width: 24px;
            height: 24px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .top-info {
        border-bottom: 1px solid grey;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    .top-info>img {
        width: 100%;
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
    }

    .top-info>p {
        font-style: italic;
        font-size: 16px;
        padding-left: 6px;
        padding-right: 6px;
        text-align: center;
    }

    .bottom-info {
        padding: 12px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .desc {
            font-size: 20px;
            text-align: center;
        }
    }

    .bottom-info>h2 {
        text-align: center;
        color: #FF4B3E;
    }


    /* Button Time*/
    .button-go-back {
        display: inline-block;
        text-decoration: none;
        position: relative;
        padding: 8px 16px;
        margin-top: 6px;
        margin-left: 6px;
        border: 1px solid @secondary2;
        border-radius: 8px;

        p {
            color: @secondary2;
            margin: 0;
            padding: 0;
            font-size: 16px;
            text-align: center;
            -webkit-transition: all 0.15s ease-out;
            -moz-transition: all 0.15s ease-out;
            -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }

        &:hover {
            cursor: pointer;
            border: 1px solid @primary1;

            p {
                color: @primary1;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #info-panel {
        flex-direction: column;
      
        margin-top: 0;
        padding-top: 48px;
        padding-bottom: 24px;

        ul {
            height: calc(100vh - 96px);
            overflow-y: scroll;
        }
    }
    #info-frame  {
        width: 600px;
    }
    #object-info-container {
        width: 472px;
        height: 594px;
    }
}